:root {
    --bg-color: #F0EAD6;
    --accent-color: #2b2a26
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color)
}

.link-bar {
    display: flex;
    background-color: var(--accent-color);
}

.link-bar a {
    padding: 1rem 0.7rem;
    align-content: center;
    color: var(--bg-color);
    background-color: var(--accent-color);
    height: 100%;
    text-decoration: none;
    border-radius: 5px;
}

.link-bar a:hover {
    filter: brightness(0.8)
}

.link-bar a.icon {
    padding: 0.5rem 0.5rem;
}

.link-bar img{
    width: 2vw;
}

.link-bar.centered {
    justify-content: center;
}

.home-grid {
    display: grid;
    grid-template-areas: 
    "title-card ."
    ". selfie";
    grid-template-columns: auto 1fr;
    margin: 6rem 7rem;
    outline: auto;
}

.home-grid div.title-card {
    grid-area: title-card;
    background-color: var(--accent-color);
    color: var(--bg-color);
    width: fit-content;
    padding: 5rem 5rem;
    border-radius: 15px;
}

.home-grid div.selfie {
    grid-area: selfie;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.selfie img {
    width: 40vw;
    min-width: 330px;
    border-radius:500px;
}