:root {
    --bg-color: #F0EAD6;
    --accent-color: #2b2a26
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color)
}

nav {
    display: flex;
    background-color: var(--accent-color);
}

nav a {
    padding: 1rem 0.7rem;
    align-content: center;
    color: var(--bg-color);
    background-color: var(--accent-color);
    height: 100%;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    filter: brightness(0.8)
}

.content-body {
    margin: 6rem 7rem;
    outline: auto;
}

.title-card {
    background-color: var(--accent-color);
    color: var(--bg-color);
    width: fit-content;
    padding: 1rem 1rem;
    border-radius: 15px;
}